
assets/.DS_Store
assets/css/.DS_Store
assets/fonts/.DS_Store
assets/fonts/font-awesome/.DS_Store
assets/img/.DS_Store
files/.DS_Store
files/docs/.DS_Store
files/papers/.DS_Store
files/slides/.DS_Store
files/CS373/~$BetterYou.pptx
files/CS373/.DS_Store
files/CS373/~$CI373CourseHandbookEdition23.docx
files/CS373/~$TechWritingSpeaking2.0.pptx
files/CS373/Archive/.DS_Store
files/CS373/~$CI373CourseHandbookEdition24.docx
files/CS373/~$aleOfThreeCS373Students.docx
files/CS373/~$GenerativeAITools.pptx
assets/img/~$AI-Assisted-Research-Banner.pptx
files/CS373/GenerativeAITools/~$2023-09-Heroux-ScenariosPersonasContexts.pptx
files/CS373/GenerativeAITools/~$2023-09-Heroux-GenerativeAITools.pptx
files/CS373/GenerativeAITools/~$2024-01-Heroux-ScenariosPersonasContexts.pptx
Archive/.DS_Store
